.wrapper {
    margin: 5px;
}

.nav {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    background-color: lightgray;
    border: 3px solid navy;
    text-align: center;
}

.positioning {
    width: 75%;
    background-color: lightgray;
}

.positioning h1 {
    text-align: center;
}

.lotsoftext {
    text-align: left;
    background-color: lightblue;
    width: 75%;
}